.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    font-size: 22px;
  }

  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: rgb(225,132,51);
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width:0;
   
  }
   
  .stars-inner::before {
    font-family: FontAwesome;
    font-size: 22px;
    content: "\f005 \f005 \f005 \f005 \f005";
    color: rgb(255,164,28);
    
  }
